<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div style="display: none;" css="stickyClass" afterRender="setStickyNode">
    <span class="data-grid-cap-left" afterRender="setLeftCap"></span>
    <span class="data-grid-cap-right" afterRender="setRightCap"></span>

    <div afterRender="setStickyToolbarNode">
        <div class="admin__data-grid-header">
            <div class="admin__data-grid-header-row">
                <scope args="requestChild('listing_massaction')" render=""></scope>
                <scope args="requestChild('listing_paging')" render="totalTmpl"></scope>
                <each args="getRegion('dataGridFilters')" render=" $data.stickyTmpl || getTemplate()"></each>
                <div class="admin__data-grid-actions-wrap" each="getRegion('dataGridActions')" render=""></div>
                <scope args="requestChild('listing_paging')" render=""></scope>

                <!-- ko if: $data.jsLoaded && $data.showPostNLToolbarActions() -->
                <div class="col-xs-5 postnl-grid-toolbar">
                    <div class="col-xs-5">
                        <select class="action-select admin__control-select"
                                data-bind="options:$data.actionList,
                        optionsText: 'text', optionsValue: 'value', value: $data.currentSelected">
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <input class="admin__control-text change_parcel_sticky" id="change_parcel" type="number" min="1" value="1"
                               data-bind="visible: $data.currentSelected() == 'change_parcel'">

                        <div class="select-holder" data-bind="visible: $data.currentSelected() == 'change_product'">
                            <select class="action-select admin__control-select change_product_sticky" id="change_product"
                                    data-bind="options:$data.optionList,
                            optionsText: 'text', optionsValue: 'value', value: $data.defaultOption">
                            </select>
                        </div>
                        <!-- ko if: $data.isGuaranteedActive() -->
                        <div class="sub-select-holder" data-bind="visible: $data.showTimeOptions()">
                            <select class="action-select admin__control-select time_option_sticky" id="time_option"
                                    data-bind="options:$data.timeOptions,
                            optionsText: 'text', optionsValue: 'value'">
                            </select>
                        </div>
                        <!-- /ko -->
                        <div class="select-holder" data-bind="visible: $data.currentSelected() == 'choose_print_start_position'">
                            <select class="action-select admin__control-select choose_print_start_position_toolbar"
                                    id="choose_print_start_position" data-bind="options:$data.labelStartPositionOptions,
                                    optionsText: 'text', optionsValue: 'value', value:$data.startPositionSelected">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="tooltip" data-bind="visible: $data.currentSelected() == 'choose_print_start_position'">
                            <span class="help">
                                <span></span>
                            </span>
                            <span class="tooltip-content"
                                  translate="'Determine the position of the first shipping label when you\'re printing the labels on an A4. De printing order of the labels are bottom right, bottom left, top right, top left.'">
                                Determine the position of the first shipping label when you're printing the labels on an A4. De printing order of the labels are bottom right, bottom left, top right, top left.
                            </span>
                        </div>
                        <button class="action-secondary" type="button" click="function() {submit(true)}"
                                data-bind="visible: $data.currentSelected() != 'choose_print_start_position'">
                            <span translate="'Submit'">Submit</span>
                        </button>
                    </div>
                </div>
                <!-- /ko -->

            </div>
        </div>

        <scope args="requestChild('listing_filters_chips')" render="$data.stickyTmpl || getTemplate()"></scope>

        <scope args="columnsProvider" render="stickyTmpl"></scope>
    </div>
</div>
