{{template config_path="design/email/header_template"}}
<tr>
    <td class="main-content">
        <!-- Begin Content -->
        <!--@subject {{trans "Footer"}} @-->
        <!--@vars {
        "var store.frontend_name":"Store Name"
        } @-->

        Beste {{var name}},<br><br>

        Jouw retouraanvraag is verwerkt. Print het retour-label met behulp van bijgevoegde barcode.<br><br>

        1. Ga naar het dichtsbijzijnde PostNL punt.<br>
        2. Scan de barcode en ontvang een retourlabel.<br>
        3. Plak het label op het pakket en lever het pakket in.<br>

        <!-- End Content -->
    </td>
</tr>
{{template config_path="design/email/footer_template"}}
