<!--@subject {{trans "Track & Trace"|raw}} @-->
<!--@vars {
"var order.getIncrementId()":"Increment ID",
"var dateAndTime":"Date and Time of Transaction",
"var url":"track and trace url to PostNL",
"var logo_url":"PostNL Track & Trace",
"var delivery_date":"PostNL Delivery Date"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>

        <table style="margin: 50px auto; max-width: 700px; width: 100%;">
            <tr>
                <td style=" background: #F6F6F6; padding: 40px; ">

                    <table style="width:100%; position: relative;">
                        <tr>
                            <td style=" background: #ffffff; padding: 30px; border-radius: 10px 10px 0; border: 1px solid  #E3E3E3; ">
                                <div style="float: left;">
                                    <img src='{{var logo_url}}' alt="PostNL Track & Trace" height="30" width="30"  style="margin-right: 15px; padding-bottom: 15px;">
                                </div>

                                <h1 style=" padding: 6px 0 5px 0;  margin: 0 0 5px 0; color:#001A73; font-weight: 300; font-size: 18px; display:inline; float:left; ">{{trans "Track & Trace information"}}</h1>

                                <div class="block-divider" style="clear: both;height: 5px; margin-bottom: 20px; border-top: 1px solid #E3E3E3;"></div>

                                <ul style=" list-style:square; padding-left: 30px; ">
                                    <li style=" color: #868681; vertical-align: top;">
                                        <b style="font-weight: normal; font-size: 14px; ">{{trans "Order"}} {{var order.increment_id}}</b><br>
                                        {{var dateAndTime}}
                                    </li>
                                    {{if delivery_date}}
                                    <li style=" color: #868681; vertical-align: top;">
                                        <b style="font-weight: normal; font-size: 14px; ">{{trans "Expected Delivery"}}</b><br>
                                        {{var delivery_date}}
                                    </li>
                                    {{/if}}
                                </ul>

                                <div class="block-divider" style="clear: both;height: 5px; margin-bottom: 20px; border-top: 1px solid #E3E3E3;"></div>

                                <b style="font-weight: bold; font-size: 14px; ">{{var address_type}}</b>
                                <ul style=" list-style:none; padding-left: 30px; ">
                                    <li style=" color: #868681; vertical-align: top;">
                                        {{var name}}
                                    </li>
                                    <li style=" color: #868681; vertical-align: top;">
                                        {{var street}}
                                    </li>
                                    <li style=" color: #868681; vertical-align: top;">
                                        {{var shippingAddress.city}} {{var shippingAddress.postcode}}
                                    </li>
                                    <li style=" color: #868681; vertical-align: top;">
                                        {{var shippingAddress.country_id}}
                                    </li>
                                </ul>

                                <div class="block-divider" style="clear: both;height: 5px; border-top: 1px solid #E3E3E3; margin-top: 25px; margin-bottom: 25px;"></div>

                                <a href="{{var url}}" style=" background: #ED8C00; padding: 15px 25px; border-radius: 6px 6px 0; text-decoration: none; font-size: 15px; color: white; float:right;">{{trans "Click here to track your order"}}</a>

                            </td>
                        </tr>
                    </table>
                </td>
        </table>

    </body>
</html>

