sudo: required
dist: trusty
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

language: php

env:
  global:
    - CODE_COVERAGE=false
    - DI_COMPILE=false

matrix:
# PHP 7 is only supported in Magento 2.0.x and 2.1.x
# PHP 7.1 is only supported in Magento 2.2.x
# PHP 7.2 is only supported in Magento 2.3.x
  include:
    - php: 7.0
      env: MAGENTO_VERSION=2.1.16
    - php: 7.0
      env: MAGENTO_VERSION=2.1.17
    - php: 7.0
      env: MAGENTO_VERSION=2.2.7
    - php: 7.1
      env: MAGENTO_VERSION=2.2.8
    - php: 7.1
      env: MAGENTO_VERSION=2.3.0
    - php: 7.1
      env: MAGENTO_VERSION=2.3.1 # DI_COMPILE=true
    - php: 7.2
      env: MAGENTO_VERSION=2.3.1 CODE_COVERAGE=true

before_script:
  - export PATH=$PATH:$HOME/.composer/vendor/bin
  - composer config -a -g http-basic.repo.magento.com $MAGENTO_USERNAME $MAGENTO_PASSWORD
  - bash Test/Script/ManageDependencies.sh
  - bash Test/Script/Setup.sh

script:
  - if [ $CODE_COVERAGE == false ] && [ $DI_COMPILE == true ]; then php /tmp/magento2/bin/magento setup:di:compile; fi # Check for compilation errors
  - grunt phpcs
  - grunt lint
  - grunt exec:phraseTest
  - grunt exec:integrationTests

after_success:
  - bash Test/Script/AfterSuccess.sh

cache:
  directories:
  - node_modules
  - $HOME/.download_cache
  - $HOME/.composer
  - $HOME/.cache/composer
