<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__data-grid-header" afterRender="$data.setToolbarNode">
    <div class="admin__data-grid-header-row">
        <div class="admin__data-grid-actions-wrap" each="getRegion('dataGridActions')" render=""/>
        <each args="getRegion('dataGridFilters')" render=""/>
    </div>
    <div class="admin__data-grid-header-row row row-gutter">
        <div class="col-xs-2" if="hasChild('listing_massaction')" ko-scope="requestChild('listing_massaction')" render=""/>
        <div css="
            'col-xs-10': hasChild('listing_massaction'),
            'col-xs-12': !hasChild('listing_massaction')">
            <div class="row" ko-scope="requestChild('listing_paging')">
                <div class="col-xs-3" render="totalTmpl"/>
                <div class="col-xs-9" render=""/>
            </div>
        </div>

        <!-- ko if: $data.showPostNLToolbarActions() -->
        <div class="col-xs-9 postnl-grid-toolbar">
            <div class="col-xs-2">
                <select class="action-select admin__control-select"
                        data-bind="options:$data.getPostNLActionsList(), value: $data.currentSelected
                        optionsText: 'name', optionsValue: 'value'">
                </select>
            </div>
            <div class="col-xs-2">
                <input class="admin__control-text" id="change_parcel" type="text"
                       data-bind="visible: $data.currentSelected() == 'change_parcel'"/>

                <input class="admin__control-text" id="change_product" type="text"
                       data-bind="visible: $data.currentSelected() == 'change_product'"/>
            </div>

            <button class="action-secondary" type="button" click="submit" style="width: 100px; height: 25px;">
                <span translate="'Sumbit'">Submit</span>
            </button>
        </div>
        <!-- /ko -->

    </div>
</div>

<render args="stickyTmpl" if="$data.sticky"/>
