<div class="days">
    <div data-bind="foreach: deliverydays">
        <ul data-bind="foreach: $data">
            <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                <label>
                    <input type="radio"
                           data-bind=" value: date, checked: $parents[1].selectedOption, checkedValue: $data"
                           name="      deliveryday"
                           id="        delivery-choice"
                           class="tig-postnl-delivery-radio" />
                    <!-- ko if: $index() == 0 -->
                    <strong class="tig-postnl-delivery-data" data-bind="text: day"></strong><br/>
                    <!-- /ko -->
                    <span class="tig-postnl-delivery-from" data-bind="text: from"></span>
                    <span class="tig-postnl-delivery-dash"> - </span>
                    <span class="tig-postnl-delivery-to" data-bind="text: to"></span>
                    <span class="tig-postnl-delivery-option" data-bind="text: option"></span>
                </label>

            </li>
        </ul>
    </div>
</div>
