<div class="delivery_options">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-bind="click: setDelivery, css: { 'button-active': shipmentType() == 'delivery' }">Delivery</button>
        <button type="button" class="btn btn-default" data-bind="click: setPickup, css: { 'button-active': shipmentType() == 'pickup' }">Pickup</button>
    </div>

    <div data-bind="if: isLoading()" class="tig-postnl-loading"></div>

    <div class="delivery" data-bind="visible: shipmentType() == 'delivery'">
        <!-- ko foreach: getRegion('postnl-deliveryoptions-delivery') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <div class="pickup" data-bind="visible: shipmentType() == 'pickup'">
        <!-- ko foreach: getRegion('postnl-deliveryoptions-pickup') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
