<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TIG\PostNL\Api\MatrixrateRepositoryInterface" type="TIG\PostNL\Model\Carrier\MatrixrateRepository" />
    <preference for="TIG\PostNL\Api\Data\MatrixrateInterfaceSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="TIG\PostNL\Api\OrderRepositoryInterface" type="TIG\PostNL\Model\OrderRepository" />
    <preference for="TIG\PostNL\Api\Data\OrderInterface" type="TIG\PostNL\Model\Order" />
    <preference for="TIG\PostNL\Api\Data\OrderSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="TIG\PostNL\Api\ShipmentRepositoryInterface" type="TIG\PostNL\Model\ShipmentRepository" />
    <preference for="TIG\PostNL\Api\Data\ShipmentAttributeInterface" type="TIG\PostNL\Model\ShipmentAttribute" />
    <preference for="TIG\PostNL\Api\Data\ShipmentInterface" type="TIG\PostNL\Model\Shipment" />
    <preference for="TIG\PostNL\Api\Data\ShipmentSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="TIG\PostNL\Api\ShipmentBarcodeRepositoryInterface" type="TIG\PostNL\Model\ShipmentBarcodeRepository" />
    <preference for="TIG\PostNL\Api\Data\ShipmentBarcodeSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="TIG\PostNL\Api\ShipmentLabelRepositoryInterface" type="TIG\PostNL\Model\ShipmentLabelRepository" />
    <preference for="TIG\PostNL\Api\Data\ShipmentLabelSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="TIG\PostNL\Api\ShipmentManagementInterface" type="TIG\PostNL\Service\Api\ShipmentManagement" />
    <preference for="TIG\PostNL\Service\Wrapper\QuoteInterface" type="TIG\PostNL\Service\Wrapper\Quote" />
    <preference for="TIG\PostNL\Service\Wrapper\StoreInterface" type="TIG\PostNL\Service\Wrapper\Store" />
    <preference for="TIG\PostNL\Service\Wrapper\CheckoutSessionInterface" type="TIG\PostNL\Service\Wrapper\CheckoutSession" />
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="TIG\PostNL\Model\Mail\Template\TransportBuilder" />

    <type name="\Magento\Sales\Model\Order">
        <plugin name="TIG_PostNL_Order_Shipment" type="TIG\PostNL\Plugin\Order\ShipmentPlugin" sortOrder="1"/>
        <plugin name="TIG_PostNL_Order_Shipping_Address" type="TIG\PostNL\Plugin\Order\ShippingAddress" sortOrder="2"/>
    </type>

    <type name="\Magento\Quote\Model\Quote">
        <plugin name="TIG_PostNL_Quote_RestDeliveryDate" type="\TIG\PostNL\Plugin\Quote\ResetDeliveryDate" sortOrder="1"/>
    </type>

    <type name="\Magento\Shipping\Model\Config\Source\Allmethods">
        <plugin name="TIG_PostNL_Config_Source_Allmethods" type="TIG\PostNL\Plugin\Config\Source\AllMethodsPlugin" sortOrder="1"/>
    </type>

    <type name="\Magento\Quote\Model\Quote\Address\RateRequest">
        <plugin name="TIG_PostNL_Address_RateRequest" type="TIG\PostNL\Plugin\Quote\Address\RateRequestPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin name="postnlShippingAddressManagement" type="TIG\PostNL\Plugin\Postcodecheck\Management\Shipping"/>
    </type>

    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin name="postnlBillingAddressManagement" type="TIG\PostNL\Plugin\Postcodecheck\Management\Billing"/>
    </type>

    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="postcodeGuestPaymentInformationManagement" type="TIG\PostNL\Plugin\Postcodecheck\Management\GuestPayment"/>
    </type>

    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="postcodePaymentInformationManagement" type="TIG\PostNL\Plugin\Postcodecheck\Management\Payment" />
    </type>

    <type name="Magento\Customer\Model\Metadata\Form">
        <plugin name="postcodeCustomerForm" type="TIG\PostNL\Plugin\Postcodecheck\Management\CustomerForm" />
    </type>

    <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="PostNL_customer_address_data" type="TIG\PostNL\Plugin\Customer\CustomerData" />
    </type>

    <type name="Magento\Customer\Model\Attribute">
        <plugin name="PostNL_customer_addtibute_extender" type="TIG\PostNL\Plugin\Customer\Attribute" />
    </type>

    <type name="Magento\Sales\Model\Order\ShippingBuilder">
        <plugin name="PostNL_shipping_extension_attribute" type="TIG\PostNL\Plugin\Shipment\ShippingBuilder" />
    </type>


    <type name="TIG\PostNL\Logging\Log">
        <arguments>
            <argument name="name" xsi:type="string">postnl_logging</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="exception" xsi:type="object">TIG\PostNL\Logging\CriticalHandler</item>
                <item name="debug" xsi:type="object">TIG\PostNL\Logging\DebugHandler</item>
            </argument>
        </arguments>
    </type>


    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="postnlSyncGrids" xsi:type="object">TIG\PostNL\Console\Sync\Grids</item>
                <item name="postnl:config:dump" xsi:type="object">TIG\PostNL\Console\Config\Dump</item>
                <item name="postnl:config:import" xsi:type="object">TIG\PostNL\Console\Config\Import</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="PostNLShipmentGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="mainTableName" xsi:type="string">sales_shipment</argument>
            <argument name="gridTableName" xsi:type="string">sales_shipment_grid</argument>
            <argument name="orderIdField" xsi:type="string">sales_shipment.order_id</argument>
            <argument name="joins" xsi:type="array">
                <item name="tig_postnl_shipment" xsi:type="array">
                    <item name="table" xsi:type="string">tig_postnl_shipment</item>
                    <item name="origin_column" xsi:type="string">entity_id</item>
                    <item name="target_column" xsi:type="string">shipment_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="entity_id" xsi:type="string">sales_shipment.entity_id</item>
                <item name="tig_postnl_ship_at" xsi:type="string">tig_postnl_shipment.ship_at</item>
                <item name="tig_postnl_product_code" xsi:type="string">tig_postnl_shipment.product_code</item>
                <item name="tig_postnl_confirmed_at" xsi:type="string">tig_postnl_shipment.confirmed_at</item>
                <item name="tig_postnl_confirmed" xsi:type="string">tig_postnl_shipment.confirmed</item>
                <item name="tig_postnl_barcode" xsi:type="string">tig_postnl_shipment.main_barcode</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Update the shipment grid -->
    <type name="TIG\PostNL\Observer\TIGPostNLShipmentSaveAfter\UpdateOrderShipmentGrid">
        <arguments>
            <argument name="shipmentGrid" xsi:type="object">PostNLShipmentGridAggregator</argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Observer\TIGPostNLShipmentSaveAfter\UpdateOrderGrid">
        <arguments>
            <argument name="orderGrid" xsi:type="object">PostNLOrderGridAggregator</argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Observer\SalesOrderSaveAfter\UpdateOrderGrid">
        <arguments>
            <argument name="orderGrid" xsi:type="object">PostNLOrderGridAggregator</argument>
        </arguments>
    </type>

    <virtualType name="PostNLOrderGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="mainTableName" xsi:type="string">sales_order</argument>
            <argument name="gridTableName" xsi:type="string">sales_order_grid</argument>
            <argument name="orderIdField" xsi:type="string">sales_order.entity_id</argument>
            <argument name="joins" xsi:type="array">
                <item name="tig_postnl_order" xsi:type="array">
                    <item name="table" xsi:type="string">tig_postnl_order</item>
                    <item name="origin_column" xsi:type="string">entity_id</item>
                    <item name="target_column" xsi:type="string">order_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="entity_id" xsi:type="string">sales_order.entity_id</item>
                <item name="tig_postnl_ship_at" xsi:type="string">tig_postnl_order.ship_at</item>
                <item name="tig_postnl_product_code" xsi:type="string">tig_postnl_order.product_code</item>
                <item name="tig_postnl_confirmed" xsi:type="string">tig_postnl_order.confirmed</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Add the PostNL fee to the shipping total -->
    <type name="\Magento\Quote\Model\Quote\Address\Total\Shipping">
        <plugin name="TIG_PostNL_QuoteAddressTotalShipping" type="\TIG\PostNL\Plugin\Quote\Address\Total\Shipping" sortOrder="1"/>
    </type>

    <type name="TIG\PostNL\Service\Validation\Factory">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="decimal" xsi:type="object">\TIG\PostNL\Service\Validation\Decimal</item>
                <item name="parcelType" xsi:type="object">\TIG\PostNL\Service\Validation\ParcelType</item>
                <item name="country" xsi:type="object">\TIG\PostNL\Service\Validation\Country</item>
                <item name="region" xsi:type="object">\TIG\PostNL\Service\Validation\Region</item>
                <item name="duplicateImport" xsi:type="object">\TIG\PostNL\Service\Validation\DuplicateImport</item>
            </argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Plugin\Postcodecheck\Fields\Factory">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="housenumber" xsi:type="object">\TIG\PostNL\Plugin\Postcodecheck\Fields\Housenumber</item>
                <item name="addition" xsi:type="object">\TIG\PostNL\Plugin\Postcodecheck\Fields\HousenumberAddition</item>
            </argument>
        </arguments>
    </type>

    <type name="\Mageplaza\Osc\Api\CheckoutManagementInterface">
        <plugin name="postcodeMageplazaCheckoutInformation" type="TIG\PostNL\Plugin\Postcodecheck\Mageplaza\CheckoutManagement" />
    </type>

    <type name="\Mageplaza\Osc\Block\Checkout\LayoutProcessor">
        <plugin name="postcodeMageplazaLayoutProcessor" type="\TIG\PostNL\Plugin\Postcodecheck\Mageplaza\LayoutProcessor" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Grid">
        <plugin name="TIG_PostNL_OrderPlace" type="TIG\PostNL\Plugin\Order\AsyncPlugin" sortOrder="1" />
        <plugin name="TIG_PostNL_ShipmentPlace" type="TIG\PostNL\Plugin\Shipment\AsyncPlugin" sortOrder="1" />
    </type>

    <type name="TIG\PostNL\Plugin\Order\AsyncPlugin">
        <arguments>
            <argument name="mainTableName" xsi:type="string">sales_order</argument>
            <argument name="gridTableName" xsi:type="string">sales_order_grid</argument>
            <argument name="orderIdField" xsi:type="string">sales_order_grid.entity_id</argument>
            <argument name="notSyncedDataProvider" xsi:type="object">Magento\Sales\Model\ResourceModel\Provider\NotSyncedOrderDataProvider</argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Plugin\Shipment\AsyncPlugin">
        <arguments>
            <argument name="mainTableName" xsi:type="string">sales_shipment</argument>
            <argument name="gridTableName" xsi:type="string">sales_shipment_grid</argument>
            <argument name="orderIdField" xsi:type="string">sales_shipment_grid.entity_id</argument>
            <argument name="notSyncedDataProvider" xsi:type="object">Magento\Sales\Model\ResourceModel\Provider\NotSyncedOrderDataProvider</argument>
        </arguments>
    </type>


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="postnl_matrix_index_data_source" xsi:type="string">TIG\PostNL\Model\Carrier\ResourceModelMatrixrateCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TIG\PostNL\Model\Carrier\ResourceModelMatrixrateCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tig_postnl_matrixrate</argument>
            <argument name="resourceModel" xsi:type="string">TIG\PostNL\Model\Carrier\ResourceModel\Matrixrate</argument>
        </arguments>
    </virtualType>

    <type name="TIG\PostNL\Service\Timeframe\Resolver">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="TIG\PostNL\Service\Shipping\DeliveryDate">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <virtualType name="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryGlobalPack" type="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryForCountryMap">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="method" xsi:type="string">getGlobalProducts</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeBeDelivery" type="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryMap">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="method" xsi:type="string">getBeProducts</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativePakjegemakDelivery" type="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryMap">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="method" xsi:type="string">getPakjeGemakOptions</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativePakjegemakBeDomesticDelivery" type="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryMap">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="method" xsi:type="string">getPakjeGemakBeDomesticOptions</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeEpsDelivery" type="TIG\PostNL\Block\Adminhtml\Config\Form\Field\AlternativeDeliveryForCountryMap">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="method" xsi:type="string">getEpsProducts</item>
            </argument>
        </arguments>
    </virtualType>

</config>
