<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="tig_postnl_checkout_config_provider" xsi:type="object">TIG\PostNL\Config\Provider\CheckoutConfiguration</item>
            </argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Config\Provider\CheckoutConfiguration">
        <arguments>
            <argument name="shippingConfiguration" xsi:type="array">
                <item name="shippingoptions_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsShippingOptionsActive</item>
                <item name="pakjegemak_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsPakjegemakActive</item>
                <item name="pakjegemak_be_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsPakjegemakBeActive</item>
                <item name="pakjegemak_global" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsPakjegemakGlobalActive</item>
                <item name="pakjegemak_countries" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\PakjegemakGlobalCountries</item>
                <item name="is_package_machine_filter_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsPackageMachineFilterActive</item>
                <item name="stated_address_only_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsStatedAddressOnlyActive</item>
                <item name="stated_address_only_fee" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\StatedAddressOnlyFee</item>
                <item name="urls" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\Urls</item>
                <item name="noon_delivery_fee" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\NoonDeliveryFee</item>
                <item name="is_eveningdelivery_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsEveningDeliveryActive</item>
                <item name="is_eveningdelivery_be_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsEveningDeliveryBeActive</item>
                <item name="eveningdelivery_fee" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\EveningDeliveryFee</item>
                <item name="eveningdelivery_be_fee" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\EveningDeliveryBeFee</item>
                <item name="is_deliverydays_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsDeliverDaysActive</item>
                <item name="default_tab" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\DefaultTab</item>
                <item name="is_postcodecheck_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsPostcodecheckActive</item>
                <item name="checkout_extension" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\CheckoutExtension</item>
                <item name="is_delivery_days_disabled" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsDeliveryDaysDisabled</item>
                <item name="onestepcheckout_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsOnestepcheckoutActive</item>
                <item name="is_international_address_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsInternationalAddressActive</item>
                <item name="is_international_packets_active" xsi:type="object">\TIG\PostNL\Config\CheckoutConfiguration\IsInternationalPacketsActive</item>
            </argument>
        </arguments>
    </type>

    <!-- This class is responsible for filtering the time frames received from PostNL. -->
    <type name="TIG\PostNL\Service\Timeframe\Filter">
        <arguments>
            <!-- Order is important, cutoff times must be processed last -->
            <argument name="dayFilters" xsi:type="array">
                <item name="sameday" xsi:type="object">\TIG\PostNL\Service\Timeframe\Filters\Days\SameDay</item>
                <item name="dateoff" xsi:type="object">\TIG\PostNL\Service\Timeframe\Filters\Days\DateOff</item>
                <item name="daysoff" xsi:type="object">\TIG\PostNL\Service\Timeframe\Filters\Days\DaysOff</item>
                <item name="cutoff" xsi:type="object">\TIG\PostNL\Service\Timeframe\Filters\Days\CutOffTimes</item>
            </argument>
            <argument name="optionsFilters" xsi:type="array">
                <item name="evening" xsi:type="object">\TIG\PostNL\Service\Timeframe\Filters\Options\Evening</item>
            </argument>
        </arguments>
    </type>

    <type name="TIG\PostNL\Service\Shipping\DeliveryDate">
        <arguments>
            <argument name="daysFilter" xsi:type="array">
                <item name="dateoff" xsi:type="object">TIG\PostNL\Service\Timeframe\Filters\Days\DateOff</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="postnlPostcodecheckGroupPlugin" type="TIG\PostNL\Plugin\Postcodecheck\LayoutProcessor" />
    </type>

    <type name="Mageplaza\Osc\Helper\Address">
        <plugin name="postcodeFieldGroupMagePlazaPlugin" type="TIG\PostNL\Plugin\Postcodecheck\Mageplaza\AddressHelper" />
    </type>

    <type name="TIG\PostNL\Block\Frontend\Customer\Address\Edit">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="currentCustomer" xsi:type="object">Magento\Customer\Helper\Session\CurrentCustomer\Proxy</argument>
        </arguments>
    </type>
</config>
