<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <include path="TIG_PostNL::system/carrier.xml"/>

        <section id="tig_postnl" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PostNL</label>
            <tab>sales</tab>
            <resource>Sales_PostNL::configuration</resource>
            <class>postnl-section</class>

            <include path="TIG_PostNL::system/support.xml"/>
            <include path="TIG_PostNL::system/general.xml"/>
            <include path="TIG_PostNL::system/postnlsettings.xml"/>
            <include path="TIG_PostNL::system/fillinsettings.xml"/>
            <include path="TIG_PostNL::system/globalpack.xml" />
            <include path="TIG_PostNL::system/extrasettings.xml"/>
            <include path="TIG_PostNL::system/developersettings.xml"/>

        </section>
    </system>
</config>
