<div class="days">
    <div data-bind="foreach: deliverydays">
        <div class="wrapper">
            <!-- ko ifnot: $data[0].fallback || $data[0].letterbox_package || $data[0].eps || $data[0].gp -->
            <strong>
                <span class="deliverydays-day" data-bind="text: $data[0].day"></span>
                <span class="deliverydays-date" data-bind="text: $data[0].date"></span>
            </strong>

            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="value: date, checked: $parents[1].selectedOption, checkedValue: $data"
                               name="postnl_delivery_option"
                               class="tig-postnl-delivery-radio">

                        <div class="tig-postnl-delivery-time">
                            <span class="tig-postnl-delivery-from" data-bind="text: from_friendly"></span>
                            <span class="tig-postnl-delivery-dash"> - </span>
                            <span class="tig-postnl-delivery-to" data-bind="text: to_friendly"></span>
                        </div>

                        <div class="tig-postnl-delivery-option">
                            <span data-bind="text: optionLabel"> </span>
                            <!-- ko if: hasFee() -->
                            <span class="tig-postnl-delivery-fee-container">(+ <span class="tig-postnl-delivery-fee" data-bind="text: getFeeFormatted()"></span>) </span>
                            <!-- /ko -->
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: $data[0].fallback -->
            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" checked="checked">

                        <div class="tig-postnl-delivery-fallback">
                            <span data-bind="text: fallback"></span>
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: $data[0].letterbox_package -->
            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" checked="checked">

                        <div class="tig-postnl-delivery-fallback">
                            <span data-bind="text: letterbox_package"></span>
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: $data[0].eps -->
            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" checked="checked">

                        <div class="tig-postnl-delivery-fallback">
                            <span data-bind="text: eps"></span>
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: $data[0].gp -->
            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" checked="checked">

                        <div class="tig-postnl-delivery-fallback">
                            <span data-bind="text: gp"></span>
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- ko if: canUseStatedAddressOnly() -->
<div class="extra-service-container">
    <div class="extra-service-header">
        <span class="extra-service-label" data-bind="i18n:'Extra service'"></span>
    </div>

    <div class="only-stated-address">
        <input type="checkbox" name="postnl_stated_address_only_checkbox" id="postnl_stated_address_only_checkbox" value="1" class="checkbox" data-bind="click: handleStatedAddressOnlyFee">
        <label for="postnl_stated_address_only_checkbox" data-bind="i18n: 'Do not deliver to neighbours'"></label>
        <!-- ko if: statedAddressOnlyFee() -->
        <span class="price" data-bind="text: statedAddressOnlyFee()"></span>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
