<div class="days">
    <div data-bind="foreach: deliverydays">
        <div class="wrapper" data-bind="css: {'wrapper-fullwidth': $data[0].fallback}">
            <!-- ko ifnot : $data[0].fallback -->
            <strong>
                <span class="deliverydays-day" data-bind="text: $data[0].day.substring(0, 2)"></span>
                <span class="deliverydays-date" data-bind="text: $data[0].date"></span>
            </strong>

            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="value: date, checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" />

                        <span class="tig-postnl-delivery-from" data-bind="text: from_friendly"></span>
                        <span class="tig-postnl-delivery-dash"> - </span>
                        <span class="tig-postnl-delivery-to" data-bind="text: to_friendly"></span>

                        <div class="tig-postnl-delivery-option">
                            <!-- ko if: hasFee() -->
                            <span class="tig-postnl-delivery-fee-container">(+ <span class="tig-postnl-delivery-fee" data-bind="text: getFeeFormatted()"></span>) </span>
                            <!-- /ko -->

                            <span data-bind="text: optionLabel"> </span>
                        </div>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: $data[0].fallback -->
            <ul data-bind="foreach: $data">
                <li data-bind="css: { 'selected-row': $parents[1].isRowSelected($data), 'odd': $parents[1].isOdd() }">
                    <label>
                        <input type="radio"
                               data-bind="checked: $parents[1].selectedOption, checkedValue: $data"
                               name="deliveryday"
                               class="tig-postnl-delivery-radio" />

                        <span class="tig-postnl-delivery-from" data-bind="text: fallback"></span>
                    </label>
                </li>
            </ul>
            <!-- /ko -->
        </div>
    </div>
</div>
