<div class="delivery_options" data-bind="visible: canUseDeliveryOptions()">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-bind="i18n: 'Delivery', click: setDelivery, css: { 'button-active': shipmentType() == 'delivery' }"></button>
        <!-- ko if: canUsePakjegemak() -->
        <button type="button" class="btn btn-default" data-bind="i18n: 'Pickup', click: setPickup, css: { 'button-active': shipmentType() == 'pickup' }"></button>
        <!-- /ko -->
    </div>

    <div data-bind="visible: isLoading()" class="tig-postnl-loading"></div>

    <div class="delivery" data-bind="visible: shipmentType() == 'delivery'">
        <!-- ko foreach: getRegion('postnl-deliveryoptions-delivery') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: canUsePakjegemak() -->
    <div class="pickup" data-bind="visible: shipmentType() == 'pickup'">
        <!-- ko foreach: getRegion('postnl-deliveryoptions-pickup') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
