/* Tools ============================================================================================================ */

.field._disabled input{
    cursor: not-allowed;
}

aside .tig-postnl-field-group .field > .label {
    font-weight : 700;
}

.field.street .field.postnl_hidden {
    margin-top: 5px;
}


/* Tools ============================================================================================================ */

.tig_hidden {
    display: none;
}

/* Default: Magento Luma checkout =================================================================================== */

.tig-postnl-validation-message {
    color: red;
    font-size: 12px;
    margin-bottom: 16px;
}

.tig-postnl-field-group {
    float: left;
    width: 100%;
}

.tig-postnl-field-group .field {
    margin: 0 10px 20px 0;
    width: 100%;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
    float: left;
}

.tig-postnl-field-group .field:last-child {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: calc(100%/3);
}

.tig-postnl-field-group .field span {
    overflow: hidden;
    max-width: 70%;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align :bottom;
}

.tig-postnl-field-group .field .control {
    margin-top: 5px;
}

/* Required */

.tig-postnl-field-group .field._required>.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

/* Magento Blank checkout =========================================================================================== */

/* Disable float - which is used in Luma */

.blank.tig-postnl-field-group {
    float: none;
    width: auto;
    display: block;
}

.field.street {
    clear: both;
}

.blank.tig-postnl-field-group .field {
    width: auto;
    float:none;
    display: inline-block;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
}

.blank.tig-postnl-validation-message {
    float:none;
}

/* Desktop exceptions */

@media screen and (min-width: 768px){
    .blank.tig-postnl-field-group {
        margin-left: 25.8%;
        margin-bottom: 10px;
    }
}

/* Rubic Clean checkout ============================================================================================= */
.danslo.tig-postnl-field-group {
    margin: 4px 0;
}

.danslo.tig-postnl-field-group .field {
    max-width: 100%;
    margin: 0 10px 4px 0;
}

.danslo.tig-postnl-field-group .field:last-child {
    max-width: calc(100%);
}

/* Amasty Plaza checkout ============================================================================================ */
.amasty.tig-postnl-field-group {
    margin-left: 8px;
}

.amasty.tig-postnl-field-group .field:last-child {
    max-width: calc(91%/3);
}

.amasty.tig-postnl-validation-message {
    margin-left: 8px;
    width: calc(97%);
}

.tig-postnl-field-group .field.tig-postnl-full-width {
    max-width: 100%;
}

/* Account Address Edit Page ============================================================================================ */
.tig-postnl-field-group-account .field span {
    max-width: 100%;
}

.tig-postnl-field-group-account .field:last-child,
.tig-postnl-field-group-account .field {
    margin-bottom: 0;
}
