@font-face {
    font-family: PostNL-Bold;
    src: url('https://cdn.postnl.nl/fonts/PostNL-Bold.woff2');
}

.block-minicart {
    .postnl-flex-wrapper {
        &.before-buttons {
            padding-bottom: 20px;
        }
    }
}

.button--postnl-container {
    max-width: 350px;
}

#postnl-login-button {
    width: 100%;
    min-height: 35px;
    max-height: 60px;
    border: none;
    margin: 0;
    background-color: #F56900;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    gap: 12px;
    opacity: 1;
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);
    }

    span {
        display: inline;
        vertical-align: middle;
        font-size: 19px;
    }
}

#postnl-login-button__text {
    width: 100%;
    font-family: 'PostNL-Bold', Helvetica, Arial, sans-serif;
    font-weight: 500;
    opacity: 1;
    transition: color 0.2s ease;
    text-rendering: geometricPrecision;
}

#postnl-logo {
    vertical-align: middle;
}

#postnl-logo path {
    fill: #ffffff;
}

#postnl-login-button__second-text {
    padding-top: 0;
    padding-left: 5px;
}

#postnl-login-button:hover, #postnl-login-button:focus {
    background-color: #ed7000;
    border-color: #ed7000;
}

.tooltip-wrapper {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 12px;

    .heading {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }

    .tooltip-icon {
        position: relative;
        cursor: pointer;
    }

    .tooltip-text {
        visibility: hidden;
        text-align: center;
        opacity: 0;
        position: absolute;
        bottom: -10px;
        right: 0;
        transform: translateX(32px) translateY(100%);
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 6px;
        width: 250px;
        font-size: 14px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transition: opacity 0.3s ease;
        white-space: normal;
        z-index: 100;
    }

    .tooltip-icon:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}
